BasedOnStyle: LLVM
Language: Cpp
# File
LineEnding: LF
UseTab: Never
ColumnLimit: 0
IndentWidth: 2
ContinuationIndentWidth: 2
SortIncludes: Never
InsertNewlineAtEOF: true
# Pointer & Reference
PointerAlignment: Right
ReferenceAlignment: Left
# Classes & Inheritance
BreakInheritanceList: BeforeComma
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 2
# Operators
AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
# Braces
InsertBraces: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Never
  AfterFunction: true
# Namespaces
FixNamespaceComments: true
NamespaceIndentation: All
ShortNamespaceLines: 0
# Assignments
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
# Spaces
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: true
SpacesInConditionalStatement: true
